/* ========================
   Sharepoint-like overlay
   ========================*/

a.ui-btn:hover .spOverlay
{
    height:100%;
}

.spOverlay {
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s; 
    position:absolute;
    width:100%;
    height:50px; 
    bottom:0px;
    overflow:hidden;
}
.spOverlayBackground {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba( 0,0,0,0.6 );
    opacity:0.8;    
    z-index:0;
}
.spTitle {
    position:absolute;
    top:0px;
    height:50px; 
    color:#FFF;  
    z-index:2; 
    width:100%; 
}
.spTitle p {
    position:absolute;
    bottom:0px;  
    left:15px;
    right:15px;
}
.spDescription {    
    left:15px;
    right:15px;
    position:absolute;
    color:#FFF;  
    top:50px; 
    z-index:2;     
}
